@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "inter",
    sans-serif;
}
.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-wrn2;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70;
  backdrop-filter: blur(
    2px
  );
  box-shadow: inset
    0 -1px
    0 0 rgba(0, 0, 0, 0.2);
}
html {
  scroll-behavior: smooth;
}
.tgl-hamburger
  > span:nth-child(
    1
  ) {
  @apply rotate-45;
}
.tgl-hamburger
  > span:nth-child(
    2
  ) {
  @apply scale-0;
}
.tgl-hamburger
  > span:nth-child(
    3
  ) {
  @apply -rotate-45;
}

/* google play */
.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px
    solid
    #000;
  border-radius: 9999px;
  background-color: rgba(
    0,
    0,
    0,
    1
  );
  padding: 0.625rem
    1.5rem;
  text-align: center;
  color: rgba(
    255,
    255,
    255,
    1
  );
  outline: 0;
  transition: all
    0.2s
    ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgba(
    0,
    0,
    0,
    1
  );
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}

/* tmbl chat wa */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 3rem;
  background-size: 300%
    300%;
  backdrop-filter: blur(
    1rem
  );
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301
    5s
    ease
    infinite;
  border: double
    4px
    transparent;
  background-image: linear-gradient(
      #212121,
      #212121
    ),
    linear-gradient(
      137.48deg,
      #ffdb3b
        10%,
      #fe53bb
        45%,
      #8f51ea
        67%,
      #0044ff
        87%
    );
  background-origin: border-box;
  background-clip: content-box,
    border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.3s;
  backdrop-filter: blur(
    1rem
  );
  border-radius: 5rem;
}

strong {
  z-index: 999;
  font-size: 14px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0
    0 4px
    white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(
    2rem
  );
  animation: pulse_3011
    4s
    infinite;
  z-index: -1;
}

.circle:nth-of-type(
    1
  ) {
  background: rgba(
    254,
    83,
    186,
    0.636
  );
}

.circle:nth-of-type(
    2
  ) {
  background: rgba(
    142,
    81,
    234,
    0.704
  );
}

.btn:hover
  #container-stars {
  background-color: #06b6d4;
}

.btn:hover {
  transform: scale(
    1.3
  );
}

.btn:active {
  border: double
    4px
    #fe53bb;
  background-origin: border-box;
  background-clip: content-box,
    border-box;
  animation: none;
}

.btn:active
  .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate
    90s
    linear
    infinite;
}

#stars::after {
  background-image: radial-gradient(
    #ffffff
      1px,
    transparent
      1%
  );
  background-size: 50px
    50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar
    60s
    linear
    infinite;
}

#stars::before {
  background-image: radial-gradient(
    #ffffff
      1px,
    transparent
      1%
  );
  background-size: 50px
    50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(
      0
    );
  }

  to {
    transform: translateY(
      -135rem
    );
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(
      360deg
    );
  }

  to {
    transform: rotate(
      0
    );
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0%
      50%;
  }

  50% {
    background-position: 100%
      50%;
  }

  100% {
    background-position: 0%
      50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(
      0.75
    );
    box-shadow: 0
      0 0
      0
      rgba(
        0,
        0,
        0,
        0.7
      );
  }

  70% {
    transform: scale(
      1
    );
    box-shadow: 0
      0 0
      10px
      rgba(
        0,
        0,
        0,
        0
      );
  }

  100% {
    transform: scale(
      0.75
    );
    box-shadow: 0
      0 0
      0
      rgba(
        0,
        0,
        0,
        0
      );
  }
}

/* EFEK NAV */
#logo,
#logo::after {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  position: relative;
}

#logo::after {
  --move1: inset(
    50%
      50%
      50%
      50%
  );
  --move2: inset(
    31% 0
      40%
      0
  );
  --move3: inset(
    39% 0
      15%
      0
  );
  --move4: inset(
    45% 0
      40%
      0
  );
  --move5: inset(
    45% 0
      6% 0
  );
  --move6: inset(
    14% 0
      61%
      0
  );
  clip-path: var(
    --move1
  );
  content: "_ - =- _=_--";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

#logo:hover::after {
  animation: glitch_4011
    1s;
  text-shadow: 10
    10px
    10px
    black;
  animation-timing-function: steps(
    2,
    end
  );
  text-shadow:
    -3px -3px
      0px #1df2f0,
    3px
      3px
      0px
      #e94be8;
  background-color: transparent;
  border: 3px
    solid
    rgb(
      0,
      255,
      213
    );
}

#logo:hover {
  text-shadow:
    -1px -1px
      0px #06b6d4,
    1px
      1px
      0px
      #06b6d4;
}

#logo:hover {
  background-color: transparent;
  border: 1px
    solid
    rgb(
      0,
      255,
      213
    );
  box-shadow: 0px
    10px
    10px -10px
    rgb(
      0,
      255,
      213
    );
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(
      --move1
    );
    transform: translate(
      0px,
      -10px
    );
  }

  10% {
    clip-path: var(
      --move2
    );
    transform: translate(
      -10px,
      10px
    );
  }

  20% {
    clip-path: var(
      --move3
    );
    transform: translate(
      10px,
      0px
    );
  }

  30% {
    clip-path: var(
      --move4
    );
    transform: translate(
      -10px,
      10px
    );
  }

  40% {
    clip-path: var(
      --move5
    );
    transform: translate(
      10px,
      -10px
    );
  }

  50% {
    clip-path: var(
      --move6
    );
    transform: translate(
      -10px,
      10px
    );
  }

  60% {
    clip-path: var(
      --move1
    );
    transform: translate(
      10px,
      -10px
    );
  }

  70% {
    clip-path: var(
      --move3
    );
    transform: translate(
      -10px,
      10px
    );
  }

  80% {
    clip-path: var(
      --move2
    );
    transform: translate(
      10px,
      -10px
    );
  }

  90% {
    clip-path: var(
      --move4
    );
    transform: translate(
      -10px,
      10px
    );
  }

  100% {
    clip-path: var(
      --move1
    );
    transform: translate(
      0
    );
  }
}
